@page "/products"

@using BlazorDevApp.Core.Entities
@using BlazorDevApp.Core.Interfaces
@using Microsoft.EntityFrameworkCore

@implements IAsyncDisposable

@inject IJSRuntime _jsRuntime

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<div class="text-end mb-3">
    <a href="add-product" class="btn btn-primary"><span class="oi oi-plus"></span> Add new Product</a>
</div>

<table id="productsTable" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Created On</th>
            <th scope="col" class="text-end">Actions</th>
        </tr>
    </thead>
</table>

@code {
    private IJSObjectReference script;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        script = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/Product/ViewProducts.razor.js");
        await script.InvokeVoidAsync("initProductsDataTable");
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (script != null)
        {
            await script.InvokeVoidAsync("destroyProductsDataTable");
            await script.DisposeAsync();
        }
    }
}
